{
    "singleQuote": true,
    "singleAttributePerLine": true,
    "bracketSameLine": true,
    "jsxBracketSameLine": true,
    "jsxSingleQuote":true,
    "semi":true,
    "tabWidth": 2,
    "parser":"typescript"
}