.neo-title{
    font-family: var(--textFont);
    color: var(--color);
    h1{
        padding: .85em 0em;
    }
    h2{
        padding: .7em 0;
    }
    h3{
        padding: .50em 0;
    }
    h4{
        padding: .45em 0;
    }
    h5{
        padding: .30em 0;
    }
    h6{
        padding: .20em 0;
    }
}