.neo-card-img{
        position: relative;
        display: flex;
        border-radius: .25em;
        align-items: center;
        justify-content: center;
        width: 100%;
        aspect-ratio: 16/9;
        img{
            border-radius: .25em;
        }
    }