div.neo-button{
    position: relative;
    transition: .15s;
    button{
        zoom: 1;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 5px;
        padding: .5em 1em;
        color: var(--color);
        cursor: pointer;
        background-color: #fff0;
        font-size: 1.2em;
        line-height: 1.2em;
        transition: .15s;
        font-family: 'Louis George Cafe';
        border-radius: 1.6em;
        &.primary{
            
            border: .125em solid #ffffff00;
            box-shadow: 
            -.2em -.2em .3em var(--neoSdw1),
            .2em .2em .3em var(--neoSdw2);
            &:hover{
                filter: brightness(112%);
            }
            &:active{
                font-size: 1.1em;
                line-height: 1.5em;
                letter-spacing: 1px;
                box-shadow: 
                -3px -3px 5px var(--neoSdw1),
                3px 3px 5px var(--neoSdw2),
                inset -5px -5px 8px var(--neoSdw1),
                inset 5px 5px 8px var(--neoSdw2);
            }
            &:active:after{
                font-size: 1.7rem;
            }
        }
        &.secondary{
            border-radius: 1.6em;
            padding: 0.625em 1.125em;
            box-shadow: 
            inset -.25em -.25em 8px var(--neoSdw1),
            inset .25em .25em 8px var(--neoSdw2);
            &:hover{
                filter: brightness(112%);
                
            }
            &:active{
                box-shadow:
                inset -.4em -.4em 8px var(--neoSdw1),
                inset .4em .4em 8px var(--neoSdw2);
                font-size: 1.1em;
                line-height: 1.4em;
                letter-spacing: 1px;
            }
        }
        &.outlined{
            border: .125em solid #fff0;
            box-shadow: 
            -.125em -.125em 5px var(--neoSdw1),
            .125em .125em 5px var(--neoSdw2),
            inset -.125em -.125em 8px var(--neoSdw1),
            inset .125em .125em 8px var(--neoSdw2);
            &:hover{
                filter: brightness(112%);
                border-radius: .5em;
            }
            &:active{
                font-size: 1.1em;
                line-height: 1.4em;
                letter-spacing: 1px;
                box-shadow: 
                -.125em -.125em 5px var(--neoSdw1),
                .125em .125em 5px var(--neoSdw2),
                inset -.25em -.25em 8px var(--neoSdw1),
                inset .25em .25em 8px var(--neoSdw2);
            }
        }
        &.bt-line{
            border-radius: .4em;
            span{
                transition: .150s;
                bottom: 0px;
                border-radius: .4rem;
                position: absolute;
                width: 100%;
                border-radius: 0px;
                height: 10%;
                box-shadow: 
                -.2em -.2em .35em var(--neoSdw1),
                .2em .2em .35em var(--neoSdw2),
            }
            &:hover{
                filter: brightness(112%);
                span{
                    border-radius: 1.6rem;
                    height: 100%;
                }
            } 
            &:active{
                span{
                    box-shadow: 
                    -3px -3px 5px var(--neoSdw1),
                    3px 3px 5px var(--neoSdw2),
                    inset -5px -5px 8px var(--neoSdw1),
                    inset 5px 5px 8px var(--neoSdw2);
                }
                font-size: 1.1em;
                line-height: 1.5em;
                letter-spacing: 1px;
                
            }
        }
        &.light-mode{
            &:hover{
                filter: brightness(102%);
            }
        }
        &.w-100{
            width: 100%;
        }
        &.s{
            &-1{
                padding: 0.25em;
            }
        }
        
    }  
}


